* {
    margin: 0;
    padding: 0;
    font-family: questrial;
}

:root {
    --basic: rgb(0, 182, 209);
}

/* Nav bar styling */

nav ul li {
    list-style: none;
    padding: 10px 25px;
    /* justify-content: space-around; */
}

nav {
    padding: 12px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgba(205, 205, 205, 0.255);
    background-color: white;
}

nav ul {
    /* position: relative;
    right: -50px; */
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 174.425px;
    height: 55.9px;
    position: relative;
    left: 100px;
}

header {
    position: sticky;
    top: 0;
}


.content {
    display: block;
    padding: 100px;
    text-align: center;
    padding-bottom: 0px;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    word-spacing: 5px;
}

h3 {
    padding: 50px;
    font-size: 24px;
    font-weight: 500;
    word-spacing: 3px;
    line-height: 1.5;
}

.button {
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: rgb(0, 182, 209);
    border: 2px white;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(0, 150, 170);
}

.small {
    font-size: 15px;
}

.big {
    font-size: 20px;
    font-weight: 800;
}

.download img {
    padding: 0px 12px;
}

.download {
    display: flex;
    /* position: relative ; */
    padding-top: 30px;
    top: 30px;
    /* left: 48px; */
    font-family: sans-serif;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    max-width: 50vw;
    margin: auto;
    display: grid;
    padding: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.box {
    display: block;
    /* padding: 20px 10px 14px 14px; */
    border: 1px solid rgb(0, 182, 209);
    border-radius: 5px;
    margin: 20px;
    margin-right: 28.8px;
    width: 300px;
    /* height: 143.35px; */
    line-height: 24px;
    min-height: px;
    padding: 20px 14px 10px 14px;
    text-align: center;
    padding: 23px;
    background: #f9f9f9;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.lang {
    font-weight: 700;
    text-align: center;
    padding-bottom: 36px;
}

.button-32 {
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    background-color: rgb(0, 182, 209);
    border: 2px white;
    border-radius: 5px;
    cursor: pointer;
}

.button-32:hover {
    background-color: rgb(0, 150, 170);
}

.button-64:hover {
    background-color: rgb(56, 151, 56);
}

.button-64 {
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    background-color: rgb(92, 184, 92);
    border: 2px white;
    border-radius: 5px;
    cursor: pointer;
}

/* Newsletter Upper */

.newsletter {
    display: block;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 48px 0px;
    width: 100%;

}

.upper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
    margin-top: 40px;
    /* padding: 0px 20px; */
}

.right-text {
    width: 600px;
    padding: 0px 20px;
    /* border: 1px solid white; */
    margin-right: -113px;
}

.sub-box {
    width: 400px;
    /* padding: 0px 20px; */
    border: 1px solid white;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 25px;
    height: auto;
    background-color: white;

}

.right-text h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0px;
    text-align: center;
    /* padding-left: 40px; */
}

.right-text p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 0px 20px;

}

.sub-box h3 {
    font-size: 24px;
    font-weight: 700;
    /* margin-bottom: 0px; */
    text-align: center;
    color: rgb(0, 182, 209);
    /* padding-left: 40px; */
}

.sub-box p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    /* padding: 0px 20px; */
    color: black;
}

.textbox {
    width: 80%;
    padding: 10px 10px;
    margin: 10px 0px;
    /* border: 5px rgba(226, 2, 2, 0.255); */
    border: 2px solid rgba(157, 170, 174, 0.255);
    border-radius: 5px;
}

.newsletter-button {
    width: 86%;
    padding: 10px 10px;
    margin: 10px 0px;
    border-radius: 5px;
    background-color: rgb(0, 182, 209);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    font-family: 'Questrial', sans-serif;
    box-shadow: 0px 7px 11px rgb(182, 231, 241);
}

.newsletter-button:hover {
    background-color: rgb(0, 150, 170);
}

.lower {
    padding-left: 500px;
}

.bg {
    width: 1000px;
}

.bg h3 {
    padding-bottom: 10px;
    font-size: 24px;
    line-height: 1.3em;
    display: block;
    text-align: left;
    position: relative;
    left: -50px;
}

.bg p {
    line-height: 1.5em;
    font-weight: 500;
    padding-bottom: 16px;
}

.cla {
    color: var(--basic);
    cursor: pointer;
}